$site_red: #e74c3c;

*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

#site-top{
    height:150px;
    width:100%;
}

.navbar{
    width:100%;
    height:48px;

    ul, li{
        display:inline;
        margin-left:16px;
        margin-right:16px;
    }

    .navbtn{
        color:white;
        text-align: center;
        text-decoration: none;
        line-height: 48px;
        transition:.2s;
    }

    .navbtn:hover{
        color:$site_red;
        transition:.2s;
    }
}

.navbar-black{
    background-color:black;
}

.navbar-red{
    background-color:$site_red;
}

.navbar-simple{
    border-bottom-color:black;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    .navbtn{
        color:black;
    }
}

#toplogo{
    width:150px;
    margin:12px;
}

.left{
    float:left;
}

.right{
    float:right;
}

.center{
    //x
}

.gallery-view{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    //background-color:black;

    .gallery-item{
        display:flex;
        align-items: center;
        justify-content:center;
        width:128px;
        height:86px;
        overflow: hidden;
        background-color:black;
        margin:10px;

        img{
            width: 100%;
            height: auto;
            object-fit: contain;

        }
    }

    .gallery-item:hover{
        outline-color:$site_red;
        outline-style: solid;
    }
}