$site_red: #e74c3c;

*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

#site-top{
    height:150px;
    width:100%;
}

.navbar{
    width:100%;
    height:48px;

    ul, li{
        display:inline;
        margin-left:16px;
        margin-right:16px;
    }

    .navbtn{
        color:white;
        text-align: center;
        text-decoration: none;
        line-height: 48px;
        transition:.2s;
    }

    .navbtn:hover{
        color:$site_red;
        transition:.2s;
    }
}

.navbar-black{
    background-color:black;
}

.navbar-red{
    background-color:$site_red;
}

.navbar-simple{
    border-bottom-color:black;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    .navbtn{
        color:black;
    }
}

#toplogo{
    width:150px;
    margin:12px;
}

.left{
    float:left;
}

.right{
    float:right;
}

.center{
    //x
}

.gallery-view{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;  
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    justify-content:center;

    .gallery-item{
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;  
        align-items: center;
        justify-content:center;
        width:128px;
        height:86px;
        overflow: hidden;
        background-color:black;
        margin:10px;

        img{
            width: 100%;
            height: auto;
            object-fit: contain;

        }

        img:hover{
            cursor:pointer;
        }
    }

    .gallery-item:hover{
        outline-color:$site_red;
        outline-style: solid;
    }
}

#image-viewer{
    display:none;
    position:fixed;
    z-index: 100;
    width:100%;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.9);
    top:0;
    left:0;
    vertical-align: center;

    #image-viewer-src{
        display: block;
        margin-top:56px;
        width:90%;
        height:90%;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
        background-size:60%;
        background-repeat: no-repeat;
        background-color:rgba(0, 0, 0, 0);
    }

    #image-viewer-control{
       width:100%;
       height:48px;
       z-index: 150;
       position:absolute;
       top:0;
       left:0;
       line-height: 48px;
       vertical-align: middle;
    }
}

@media screen and (max-width: 700px) {
    .navbar{
        .navbtn{
            font-size:12px !important;
        }
    }
}