* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

#site-top {
  height: 150px;
  width: 100%; }

#content {
  padding: 8px; }

.navbar {
  width: 100%;
  height: 48px; }
  .navbar ul, .navbar li {
    display: inline;
    margin-left: 16px;
    margin-right: 16px; }
  .navbar .navbtn {
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    transition: .2s; }
  .navbar .navbtn:hover {
    color: #e74c3c;
    transition: .2s; }

.navbar-black {
  background-color: black; }

.navbar-red {
  background-color: #e74c3c; }

.navbar-simple {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px; }
  .navbar-simple .navbtn {
    color: black; }

#toplogo {
  width: 150px;
  margin: 12px; }

.image-slider {
  width: 100%;
  height: 360px;
  background-color: black;
  display: table;
  background-position: center;
  background-size: 45%;
  background-repeat: no-repeat; }
  .image-slider .slider-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white; }

.left {
  float: left; }

.right {
  float: right; }

.purple {
  background-color: #9b59b6;
  color: white; }

.side-menu {
  width: 25%;
  height: 100%;
  float: left; }
  .side-menu ul, .side-menu li {
    list-style: none;
    width: 100%; }
    .side-menu ul .navbtn, .side-menu li .navbtn {
      width: 100%;
      height: 32px;
      line-height: 32px;
      background-color: black;
      color: white;
      text-decoration: none;
      margin-bottom: 4px;
      display: block; }
      .side-menu ul .navbtn span, .side-menu li .navbtn span {
        padding-left: 4px; }
    .side-menu ul .navbtn:hover, .side-menu li .navbtn:hover {
      color: #e74c3c;
      background-color: white;
      outline-color: lightgray;
      outline-style: solid;
      outline-width: 1px;
      cursor: pointer; }

.admin-content {
  float: right;
  width: 75%; }

.biography {
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: 1px; }
  .biography h1, .biography h2, .biography h3 {
    font-family: Georgia,serif;
    color: #4E443C;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0; }
  .biography p {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    margin-top: .5em;
    color: #666;
    font-family: Georgia,serif;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: 2px;
    width: 80%; }

.typo-table {
  text-align: left;
  width: 100%; }
  .typo-table td, .typo-table th {
    padding: 12px;
    outline-color: lightgray;
    outline-style: solid;
    outline-width: 1px; }

.info {
  padding-top: 12px;
  padding-bottom: 12px; }

.info-full {
  padding: 8px; }

.typo-form {
  width: 60%; }
  .typo-form ul, .typo-form li {
    margin-bottom: 12px;
    list-style: none; }

.typo-textarea {
  width: 100%;
  height: 64px;
  border: none;
  outline-style: solid;
  outline-color: lightgray;
  outline-width: 1px;
  resize: none; }

.typo-text {
  outline-style: solid;
  outline-color: lightgray;
  outline-width: 1px;
  display: block;
  border: none;
  height: 32px;
  line-height: 32px;
  margin-bottom: 4px;
  width: 100%; }

.gallery-view {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .gallery-view .gallery-item {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 86px;
    overflow: hidden;
    background-color: black;
    margin: 10px; }
    .gallery-view .gallery-item img {
      width: 100%;
      height: auto;
      object-fit: contain; }
    .gallery-view .gallery-item img:hover {
      cursor: pointer; }
  .gallery-view .gallery-item:hover {
    outline-color: #e74c3c;
    outline-style: solid; }

#image-viewer {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  vertical-align: center; }
  #image-viewer #image-viewer-src {
    display: block;
    margin-top: 56px;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: transparent; }
  #image-viewer #image-viewer-control {
    width: 100%;
    height: 48px;
    z-index: 150;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 48px;
    vertical-align: middle; }

@media screen and (max-width: 700px) {
  .navbar .navbtn {
    font-size: 12px !important; }

  .side-menu {
    float: none;
    width: 100%; }

  .image-slider {
    background-size: cover; } }

/*# sourceMappingURL=style.css.map */
