$site_red: #e74c3c;
$site_purple: #9b59b6;
$side_menu_width: 25%;

*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

#site-top{
    height:150px;
    width:100%;
}

#content{
    //padding:8px;
}

.navbar{
    width:100%;
    height:48px;

    ul, li{
        display:inline;
        margin-left:16px;
        margin-right:16px;
    }

    .navbtn{
        color:white;
        text-align: center;
        text-decoration: none;
        line-height: 48px;
        transition:.2s;
    }

    .navbtn:hover{
        color:$site_red;
        transition:.2s;
    }
}

.navbar-black{
    background-color:black;
}

.navbar-red{
    background-color:$site_red;
}

.navbar-simple{
    border-bottom-color:black;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    .navbtn{
        color:black;
    }
}

#toplogo{
    width:150px;
    margin:12px;
}

.image-slider{
    width:100%;
    height:560px;
    background-color:black;
    display:table;
    background-position: center;
    background-size:45%;
    background-repeat: no-repeat;

    .slider-content{
        display:table-cell;
        vertical-align: middle;
        text-align: center;
        color:white;
    }
}

.left{
    float:left;
}

.right{
    float:right;
}

.center{
    //x
}

.purple{
    background-color:$site_purple;
    color:white;
}

.side-menu{
    width:$side_menu_width;
    height:100%;
    float:left;
    

    ul, li{
        list-style: none;
        width:100%;

        .navbtn{
            width:100%;
            height:32px;
            line-height: 32px;
            background-color:black;
            color:white;
            text-decoration: none;
            margin-bottom: 4px;
            display:block;

            span{
                padding-left:4px;
            }
        }

        .navbtn:hover{
            color:$site_red;
            background-color:white;
            outline-color:lightgray;
            outline-style: solid;
            outline-width: 1px;
            cursor:pointer;
        }
    }
}

.admin-content{
    float:right;
    width:100% - $side_menu_width;
}

.biography{

    border-bottom-style:solid;
    border-bottom-color:lightgray;
    border-bottom-width:1px;
    padding:8px;

    h1,h2,h3{
        font-family:Georgia,serif;
        color:#4E443C;
        font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
    }
    p{
        font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 14px;
        margin-top: .5em; color: #666;

        font-family:Georgia,serif;
        font-size: .8em;
        font-weight: bold;
        letter-spacing:2px;
        width:80%;
    }
}

.typo-table{
    text-align: left;
    width:100%;

    td, th{
        padding:12px;
        outline-color:lightgray;
        outline-style: solid;
        outline-width:1px;
    }
}

.info{
    padding-top:12px;
    padding-bottom:12px;
}

.info-full{
    padding:8px;
}

.typo-form{
    width:60%;

    ul, li{
        margin-bottom:12px;
        list-style:none;
    }
}

.typo-textarea{
    width:100%;
    height:64px;
    border:none;
    outline-style: solid;
    outline-color:lightgray;
    outline-width:1px;
    resize:none;
}

.typo-text{
    outline-style: solid;
    outline-color:lightgray;
    outline-width:1px;
    display:block;
    border:none;
    height:32px;
    line-height: 32px;
    margin-bottom: 4px;
    width:100%;
}

.gallery-view{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;  
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    justify-content:center;

    .gallery-item{
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;  
        align-items: center;
        justify-content:center;
        width:128px;
        height:86px;
        overflow: hidden;
        background-color:black;
        margin:10px;

        img{
            width: 100%;
            height: auto;
            object-fit: contain;

        }

        img:hover{
            cursor:pointer;
        }
    }

    .gallery-item:hover{
        outline-color:$site_red;
        outline-style: solid;
    }
}

#image-viewer{
    display:none;
    position:fixed;
    z-index: 100;
    width:100%;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.9);
    top:0;
    left:0;
    vertical-align: center;

    #image-viewer-src{
        display: block;
        margin-top:56px;
        width:90%;
        height:90%;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
        background-size:60%;
        background-repeat: no-repeat;
        background-color:rgba(0, 0, 0, 0);
    }

    #image-viewer-control{
       width:100%;
       height:48px;
       z-index: 150;
       position:absolute;
       top:0;
       left:0;
       line-height: 48px;
       vertical-align: middle;
    }
}

@media screen and (max-width: 700px) {
    .navbar{
        .navbtn{
            font-size:12px !important;
        }
    }

    .side-menu{
        float:none;
        width:100%;
    }

    .image-slider{
        background-size:cover;
    }

    .no-mobile{
        display: none !important;
    }

    .admin-content{
        float:none !important;
        width:100% !important;
    }
}