{% extends "admin.html" %}
{% block admincontent %}
<div class='info-full'>
    <h2>Manage Users</h2>
    <p>
        On this page, you will be able to manage all of your users.
    </p>
</div>
<nav class='navbar navbar-simple'>
    <ul class='left'>
        <li><a class='navbtn' href="/admin/users/{{page|int - 1}}">Previous</a></li>
        <li><a class='navbtn' href="/admin/users/{{page|int + 1}}">Next</a></li>
    </ul>
</nav>
<table class='typo-table'>
    <tr>
        <th>id</th>
        <th>Email</th>
        <th>Password</th>
        <th>Admin</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
    <tr {% if user.admin == 1 %} class='purple' {% endif %}  >
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td class='editable'>{{ user.password }}</td>
        <td class='editable'>{{ user.admin }}</td>
        <td>
            <form method='POST'>
                <input type='hidden' name='selected_user' value='{{ user.id }}'>
                {% if user.admin != 1 %}
                    <input type='submit' name='make_admin' value='Make Admin'>
                {% else %}
                    <input type='submit' name='remove_admin' value='Remove Admin'>
                {% endif %}
                <input type='submit' name='delete' value='Delete'>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}