{% block content %}
    <div class='gallery-view'>
        <div class='navbar navbar-simple'>
            <ul>
                <li><a class='navbtn' href="{{base_url}}{{page|int - 1}}">Previous</a></li>
                <li><a class='navbtn' href="{{base_url}}{{page|int + 1}}">Next</a></li>
            </ul>
        </div>
        {% for photo in photos %}
            <div class='gallery-item'>
                <img src="{{ photo.get_src('q') }}" onclick="viewImage('{{ photo.get_src('b') }}')">
            </div>
        {% endfor %}
    </div>
{% endblock %}