{% extends "layout.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<div class='image-slider' images='{% for photo in photos %}{{photo.get_src("b")}},{% endfor %}'>
    <div class='slider-content'>
        <h1>Robert Björkén</h1>
    </div>
</div>
<nav class='navbar navbar-black'>
        <ul class='left'>
          <li><a class='navbtn' href='http://www.flickr.com/{{ get_option("flickr_user").value }}' target='_blank'>Flickr</a></li>
          <li><a class='navbtn' href='https://www.facebook.com/RobertB-Foto-263211543872713/timeline/' target='_blank'>Facebook</a></li>
        </ul>
      </nav>
<div class='biography info'>
    <h1>{{ bio_heading.value }}</h1>
    <p>
        {{ bio.value.replace('\n', '<br>')|safe }}
    </p>
</div>

{% endblock %}