<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/slimbox2.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/slimbox2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/slimbox2-rtl.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title>{% block title %}{% endblock %} - RobertBjork</title>
    {% endblock %}
  </head>
    <body>
      <div id='site-top'>
        <a href='/'>
          <img src="{{ url_for('static', filename='images/bjork.jpg') }}" id='toplogo'>
        </a>
      </div>
      <nav class='navbar navbar-black'>
        <ul class='left'>
          <li><a class='navbtn' href='/'>Home</a></li>
          <li><a class='navbtn' href='/gallery/1'>Gallery</a></li>
        </ul>
        <ul class='right'>
          <li><a class='navbtn' href='/login'>Login</a></li>
        </ul>
      </nav>
      <div id='content'>
        {% block content %}{% endblock %}
      </div>
    </body>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
</html>
