<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/imageviewer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title>{% block title %}{% endblock %} - RobertBjork</title>
    {% endblock %}
  </head>
    <body>
      <div id='site-top'>
        <a href='/'>
          <img src="{{ url_for('static', filename='images/bjork.jpg') }}" id='toplogo'>
        </a>
      </div>
      <nav class='navbar navbar-black'>
        <ul class='left'>
          <li><a class='navbtn' href='/'>Home</a></li>
          <li><a class='navbtn' href='/gallery/1'>Gallery</a></li>
          <li><a class='navbtn' href='/contact'>Contact</a></li>
        </ul>
        <ul class='right'>
          {% if session.get('user') == None %}
            <li><a class='navbtn' href='/login'>Login</a></li>
            <li class='no-mobile'><a class='navbtn no-mobile' href='/register'>Register</a></li>
          {% else %}
            <li><a class='navbtn' href='/logout'>Logout</a></li>
          {% endif %}
          {% if get_user(session.get('user')).admin == 1 %}
            <li><a class='navbtn' href='/admin'>Admin</a></li>
          {% endif %}
        </ul>
      </nav>
      <div id='content'>
        {% block content %}{% endblock %}
      </div>
      {% include "imageviewer.html" %}
    </body>
    <footer>
      <script src="{{ url_for('static', filename='js/imageslider.js') }}"></script>
      {% block footer %}
      {% endblock %}
    </footer>
</html>
